[user]
	name = Waahan
	email = william@cryos.org
[web]
	browser = firefox
[core]
	editor = vim
	hideDotFiles = false
	compression = 5
	looseCompression = 5
	askPass = true
	pager = less
[init]
	defaultBranch = master
[color]
	advice = always
[grep]
	threads = 0
[help]
	autoCorrect = prompt
